#message{
   .close:hover{
      color: unset;
   }

   .close{
      padding: 0;
      padding: 0 15px;
      top: 0;
      bottom: 0;
      right: 0;
   }

   .message{
      animation: .2s ease-in-out messages;
      .alert{
         padding-right: 115px !important;
         padding-top: 6px;
         padding-bottom: 6px;
         margin: 0;
         color: #dddddddf;
         font-size: .8rem;
      }
      .alert-time-stamp{
         position: absolute;
         top: 50%;
         right: 54px;
         transform: translateY(-50%);
         font-size: .65rem;
         color: rgb(180, 180, 180);
      }
   }

   ::-webkit-scrollbar{
      width: 4px;
      background-color: inherit;
   }

   ::-webkit-scrollbar-thumb{
      background-color: rgb(179, 179, 179);
   }

}

#responseMessage{
   overflow-y: auto;
   overflow-x: hidden;
}

#clearMsg{
   position: absolute;
   top: 12px;
   right: 15px;
   height: 20px;
   padding: 0 7px;
   border-radius: 3px;
   border: none;
   background-color: #f6f6f6;
   font-size: .75rem;
   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4),
               0 5px 15px 0 rgba(0, 0, 0, 0.15);
   transition: all 0.1s;

   &:active{
      box-shadow: 0 .5px 4px 0 rgba(0, 0, 0, 0.4),
                  0 5px 15px 0 rgba(0, 0, 0, 0.15);
      transform: translateY(0.5px);
   }

   &:focus{
      outline: none;
   }
}


@keyframes messages{
   from{
      transform: translateX(-50%);
   }
   to{      
      transform: translateX(0);
   }
}